.vcard {
    margin: 0 auto;
}

.k-B-yd-nb {
    width: 920px !important;
    margin: 0 auto;
}

.s-W-Oh {
    width: 920px !important;
}

.n-M-We {
    width: 920px !important;
}

.FyqN2d {
    width: 920px !important;
    margin: 0 auto;
}

.ue {
    width: 920px !important;
    margin: 0 auto;
}