.vcard {
    margin: 0 auto;
}

.k-B-yd-nb, .FyqN2d, .ue, .he {
    width: 885px !important;
    margin: 0 auto;
}

.s-W-Oh, .n-M-We {
    width: 885px !important;
}

/* Temp fix for photos and albums resizing. 
   The broken "exclude_globs" will ignore it once Google fixes it */ 
.GS, .m-la-tl {
    width: 100% !important;
}